.options.correct {
    background-color: var(--success-color);
}

.options.wrong {
    background-color: var(--danger-color);
}

.home-btn {
    color: var(--content-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.twitter-btn {
    color: var(--content-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.github-btn {
    color: var(--content-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.linkedin-btn {
    color: var(--content-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;

}

.twitter-btn:hover {
    color: var(--success-color);
}

.github-btn:hover {
    color: var(--success-color);
}

.linkedin-btn:hover {
    color: var(--success-color);
}

.home-btn:hover {
    color: var(--success-color);
}

.options {
    color: var(--content-color);
    margin-top: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: #1F2937;
    border-radius: 1.5rem;
    font-size: 1rem;
}

.question {
    display: flex;
    justify-content: center;
}