.level-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.easy-level:hover {
    background-color: var(--success-color);
    color: var(--content-color);
}

.medium-level:hover {
    background-color: var(--warning-color);
    color: var(--content-color);
}

.hard-level:hover {
    background-color: var(--danger-color);
    color: var(--content-color);
}

.easy-level-active {
    color: var(--success-color);
    font-weight: bold;
}

.medium-level-active {
    color: var(--warning-color);
}

.hard-level-active {
    color: var(--danger-color);
}

.quiz-list-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: var(--content-color);
}

.card-img {
    width: 100%;
    height: 55%;
    border-radius: 1.5rem;
    overflow: hidden;
}

.card {
    width: 20rem;
    border: 2px solid var(--content-color);
    border-radius: 1.7rem;
    height: 25rem;
}



.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.playnow-btn {
    color: var(--content-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.playnow-btn:hover {
    color: var(--success-color);
    font-weight: bold;
}