* {
  --tw-bg-opacity: 1;
  background-color: var(--background-color);
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgba(17, 24, 39, 1);
  --gray-text: rgba(156, 163, 175, 1);
  --content-color: rgba(249, 250, 251, 1);
  --danger-color: #F44336;
  --success-color: #4CAF50;
  --warning-color: #FF9800;
}

.margin-top {
  margin-top: 1.25rem;
}

.margin-top-xl {
  margin-top: 4.2rem;
}

.margin-bottom-xl {
  margin-bottom: 4.2rem;
}


.text-gray {
  --tw-text-opacity: 1;
  color: var(--gray-text);
}

.text-white {
  --tw-text-opacity: 1;
  color: var(--content-color);
}

.bold {
  font-weight: bold;
}


.nav-header {
  color: var(--content-color);
  font-size: 2rem;
}

.center {
  text-align: center;
}

.btn {
  color: var(--content-color);
  padding: 0.938rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}